.create-poll-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff92;
    background-image: url("");
    border-radius: 10px;
    background-size:contain;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.066);
    text-align: center;
  }
  
  h1 {
    color: #1d6488;
  }
  
  label {
    font-display:calc(100px);
    margin-bottom: 10px;
    
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #95268a;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  b {
    background-image: url("https://images.unsplash.com/photo-1598802777393-751e5387ecd1?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: auto;
  }